body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/App.css */
.App {
  text-align: center;
}

.flashcard {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input, textarea, button {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}



.ql-container {
  background-color: #1e1e1e;
  color: #ffffff;
}

.ql-editor {
  background-color: #1e1e1e;
  color: #ffffff;
}

.ql-snow .ql-stroke {
  stroke: #ffffff;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #ffffff;
}
