body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/App.css */
.App {
  text-align: center;
}

.flashcard {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input, textarea, button {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}


/* Responsive adjustments */
@media (max-width: 600px) {
  .Toastify__toast-container {
      width: 90%;
      max-width: 300px; /* Smaller max width for mobile devices */
  }

  .Toastify__toast {
      font-size: 12px; /* Smaller font size for mobile devices */
  }
}

@media (max-width: 400px) {
  .Toastify__toast-container {
      width: 95%;
      max-width: 250px; /* Even smaller max width for very small devices */
  }

  .Toastify__toast {
      font-size: 11px; /* Even smaller font size for very small devices */
  }
}
